* {
    font-family: Verdana;
    background-color: black;
}

main, header {
    text-align: center;
    color: white;
}

header h1 {
    font-size: 50px;
    font-weight: normal ;
}

a {
    color: aquamarine;
    font-size: 16px;
}

main h1 {
    font-weight: 300;
    font-size: 42px;
}

main h2 {
    font-size: 21px;
    font-weight: normal;
    color: gray;
}

footer {
    color: gray;
    text-align: right;
}